/* Apply general styles to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear; /* Smooth transition for state changes */
}

/* Style for the body, including background and font settings */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/bg.jpg'); /* Background image */
    background-size: cover; /* Cover the entire background area */
    background-repeat: no-repeat;
    background-position: center;
}

/* Style for the header, centering the title */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12%;
    font-size: .9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #DAD6CD;
}   

.header-title {
    flex: 1; /* Allow the title section to grow */
    text-align: center; /* Center-aligns text horizontally */
}

.header-title h1{
    margin: 0;
    color: #333; /* Change the text color */
    font-weight: bold; /* Make the font bold */
}
.hamburger-container {
    display: none; /* Hidden by default */
}

/* For hamburger menu */
.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    color: rgb(49, 47, 47);
}
/* Move hamburger to the left */
.hamburger-container {
    position: absolute;
    left: 10px;
}
/* Sidebar styling */
.sidebar {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #DAD6CD;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, visibility 1s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: inherit;
}

.sidebar-profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-nav-item {
    color: inherit;
    text-decoration: none;
}

.active {
    background-color: #e0e0e0;
}

/* Style for the profile picture */
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Circular profile picture */
    margin: 20px;
    object-fit: cover; /* Crop image to fit the frame */
    cursor: default; /* Default cursor */
}

/* For changing the profile */

#camera-icon{
    cursor: pointer;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightblue;
    color: black;
}


/* Container for the main content */
.container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Style for the form control section */
#profile-form {
    height: 80%;
    width: 90%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.form-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Style for the photo frame section */
.photo-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.photo-frame img {
    border: 1px solid #0e0e0e;
}

/* Style for the profile details section */
.profile-details {
    background: #DAD6CD;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

/* Style for labels in the profile details form */
#profile-form label {
    font-size: 1.3rem;
    padding: 1%;
}

/* Style for input fields in the profile details form */
#profile-form input {
    width: 70%; /*CHANGE 60*/
    height: 35px; /*CHANGE 30*/
    font-size: 1.2rem;
    border: none;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Container for buttons */
.button-container {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

/* Style for buttons in the button container */
.button-container button {
    width: 120px;
    height: 40px;
    background-color: #B66F30; /* Button background color */
    color: #f2f2f2; /* Button text color */
    border-radius: 50px;
    border: none;
    cursor: pointer; /* Pointer cursor for button */
}

/* Hover effect for the submit button */
.submit-btn:hover {
    background-color: #a55d28; /* Darker background on hover */
    cursor: pointer; /* Pointer cursor for button */
}

.reset-btn:hover {
    background-color: #a55d28; /* Darker background on hover */
    cursor: pointer; /* Pointer cursor for button */
}
.button-container1 {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}
.button-container1 button {
    width: 50%; /*CHANGE 120PX*/
    height: 40px;
    background-color: #B66F30; /* Button background color */
    color: #f2f2f2; /* Button text color */
    border-radius: 10px;
    border: none;
    cursor: pointer; /* Pointer cursor for button */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */

    
    align-items: center;
    justify-content: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #DAD6CD;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 50%;
    width: 70%; /* Could be more or less, depending on screen size */
}
             
.modal-content form div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.modal-content h2{
    font-size: 2rem;
    color: #0e0e0e;
    text-align: center;
    padding: 1.5%;
}

.modal-content label {
    font-size: 1.1rem;
    width: 25%;
    text-align: center;
    }

/* Style for input fields in the profile details form */
.modal-content form input {
    width: 35%; /*CHANGE 60*/
    height: 35px; /*CHANGE 30*/
    font-size: 1rem;
    border: none;
    background-color: #f2f2f2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal-content button {
    position: relative;
    width: 20%; /*CHANGE 120PX*/
    height: 40px;
    background-color: #B66F30; /* Button background color */
    color: #f2f2f2; /* Button text color */
    border-radius: 50px;
    border: none;
    cursor: pointer; /* Pointer cursor for button */
    left: 20%;
}

.modal-content button:hover {
    background-color: #a55d28; /* Darker background on hover */
    cursor: pointer; /* Pointer cursor for button */
}

/* The Close Button */
.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* CONFIRMATION MODAL */

/* Modal Content/Box */
.confirmmodal-content {
    background-color: #DAD6CD;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 8px;
    border: 1px solid #888;
    height: 25%;
    width: 30%; /* Could be more or less, depending on screen size */
}

.confirmmodal-content h3{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 5%;
}


/* Button Container */
.confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

/* Buttons */
.confirm-btn, .cancel-btn {
    width: 40%;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    background-color: #B66F30;
    color: #f2f2f2;
}

.confirm-btn:hover {
    background-color: #a55d28;
}

.cancel-btn:hover {
    background-color: #a55d28;
}

/* The Close Button */
.close-confirmation {
    color: #aaa;
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.close-confirmation:hover,
.close-confirmation:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* This is for toast notification */
.toast-container .error{
    position: absolute;
    top: 12%;
    color:#f2f2f2;
    background-color: #ff4545;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    z-index: 1000;
}
.toast-container .success{
    position: absolute;
    top: 12%;
    color:#f2f2f2;
    background-color: #4caf50;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    z-index: 1000;
}

@media only screen and (max-width: 1024px) and (min-width: 601px){
    /* For the change profile pic section*/
    .form-control{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-pic{
        margin-bottom: 10px;
        margin-top: 10px;
        width: 150px;
        height: 150px;
    }
    #camera-icon{
        margin-bottom: 5px;
    }
    /* This is for the sidebar */
    .hamburger-container {
        display: flex;
    }
    .sidebar.show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .sidebar.closing {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    .sidebar{
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .sidebar-menu{
        flex: 1;
        padding: 20px 0;
    }
    .sidebar-item{
        font-size: 1.5rem;
        padding: 15px 20px;
    }
    .profile{
        display: flex;
        flex-direction: column;
    }
    .profile p{
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .logout{
        margin-top: auto;
    }
    /* This is for the edit info section */
    #profile-form label{
        font-size: 1.5rem;
    }
    #profile-form input{
        font-size: 1.5rem;
        height: 30px;
    }
    .button-container button{
        width: 150px;
        height: 30px;
        margin-bottom: 2%;
    }
    .button-container1 button{
        height: 30px;
        margin-bottom: 2%;
    }
    /* This is for the change password modal */
    .modal-content form div{
        flex-direction: column;
        width: 100%;
    }
    .modal-content h2{
        font-size: 1.5rem;
    }
    .modal-content label{
        font-size: 1rem;
        width: 100%;
    }
    .modal-content form input{
        width: 100%;
    }
    .modal-content button{
        left: 0;
        height: 35px;
        width: 100%;
    }
    /* This is for the confirmation modal */
    .confirmmodal-content div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin: 0;
        height: 70%;
    }
    .confirm-btn, .cancel-btn{
        width: 45%;
        height: 35px;
    }
    /* For Toast notif */
    .toast-container .error,
    .toast-container .success{
        height: 45px;
    }
}

@media only screen and (max-width: 600px){
    /* For the change profile pic section*/
    .form-control{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .profile-pic{
        margin-top: 10px;
        width: 150px;
        height: 150px;
    }
    #camera-icon{
        margin-bottom: 15px;
    }
    /* This is for the sidebar */
    .hamburger-container {
        display: flex;
    }
    .sidebar.show {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .sidebar.closing {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }
    .sidebar{
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .sidebar-menu{
        flex: 1;
        padding: 20px 0;
    }
    .sidebar-item{
        font-size: 1.2rem;
        padding: 15px 20px;
    }
    .profile{
        display: flex;
        flex-direction: column;
    }
    .profile p{
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .logout{
        margin-top: auto;
    }
    /* This is for the edit info section */
    #profile-form label{
        margin-top: 2%;
        font-size: 1rem;
    }
    #profile-form input{
        font-size: 1rem;
        height: 30px;
    }
    .button-container button{
        width: 150px;
        height: 30px;
        margin-bottom: 2%;
    }
    .button-container1 button{
        height: 30px;
        margin-bottom: 2%;
    }
    /* This is for the change password modal */
    .modal-content form div{
        flex-direction: column;
        width: 100%;
    }
    .modal-content h2{
        font-size: 1.5rem;
    }
    .modal-content label{
        font-size: 1rem;
        width: 100%;
    }
    .modal-content form input{
        width: 100%;
    }
    .modal-content button{
        left: 0;
        height: 30px;
        width: 100%;
    }
    /* This is for the confirmation modal */
    .confirmmodal-content div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin: 0;
        height: 60%;
    }
    .confirm-btn, .cancel-btn{
        width: 45%;
        height: 30px;
    }
    /* For Toast notif */
    .toast-container .error,
    .toast-container .success{
        height: 40px;
        top: 15%;
    }
}