* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear; /* Smooth transition for state changes */
}

/* Style for the body, including background and font settings */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #DAD6CD;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    width: 50%;
    margin: 15px 0;
    padding: 10px;
}

h2{
    font-size: 2.2em;
    color: #0e0e0e;
    text-align: center;
}

p{
    font-size: 1rem;
    color: #0e0e0e;
    text-align: center;
    padding: 1%;
    font-weight: lighter;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 6%;
    margin-bottom: 1%;
    font-size: 1.2rem;
    text-align: center;
}

input {
    width: 60%; 
    height: 40px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid #7b7272;
}

input:focus {
    border-color: #B66F30;
}

button {
    width: 20%; /*CHANGE 120PX*/
    height: 40px;
    background-color: #B66F30; /* Button background color */
    color: #f2f2f2; /* Button text color */
    border-radius: 50px;
    border: none;
    cursor: pointer; 
    margin-top: 4%;
}

button:hover {
    background-color: #a55d28;
    color: #0e0e0e;
    cursor: pointer;
}

.signup {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.signup h3 {
    font-size: .9rem;
    font-weight: lighter;
    margin: 1%;
    font-style: italic;
}

.signup a {
    text-decoration: none;
    color: #B66F30;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: .9rem;
}

.toast-container .error {
    position: absolute;
    top: 2%;
    color: #f2f2f2;
    background-color: #ff4545;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    z-index: 1000;
}

.toast-container .success {
    position: absolute;
    top: 2%;
    color: #f2f2f2;
    background-color: #4caf50;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    z-index: 1000;
}
@media only screen and (max-width: 1024px) and (min-width: 601px){
    .container{
        width: 70%;
    }
}
@media only screen and (max-width: 600px){
    .container{
        width: 90%;
    }
}
