* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #DAD6CD;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left-column h1 {
    margin-top: 5%;
    font-size: 3rem;
}

.left-column h3 {
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

.left-column form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6% 0;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
  }

.input {
    width: 100%;
    outline: none;
    font-size: 2em;
    padding: 10px 15px;
    transition: 0.3s ease;
}

.labelline {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 1.2em;
    color: #000000;
    transform: translateY(-50%);
    padding: 0 5px;
    transition: 0.3s ease;
    pointer-events: none;
}

.input:focus,
.input:valid {
    border-color: #B66F30;
}

.input:focus + .labelline,
.input:valid + .labelline {
    color: #B66F30;
    top: -1px;
    font-size: 2.5vh;
    padding: 0 5px;
    background-color: #DAD6CD;
}

.left-column label {
    font-size: 1.1rem;
    padding: 1.5%;
}

.left-column form{
    width: auto;
}

.left-column form input {
    height: 40px;
    opacity: 0.5;
    font-size: large;
    border: 2px solid #000000;
    padding: 20px 20px;
    background: transparent;
}

.left-column form a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: .8rem;
    padding: 3%;
}

button {
    margin-top: 5%;
    background-color: #B66F30;
    color: #f2f2f2;
    font-size: .9rem;
    height: 35px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #a04b00;
}

.right-column {
    width: 35%;
    height: 70%;
    background-image: url(../assets/LOGINN.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right-column h2 {
    margin-top: 5%;
}

.right-column h3 {
    font-size: 1rem;
    font-weight: lighter;
    margin: 2% 0;
    font-style: italic;
}

.right-column a {
    opacity: 0.8;
    background-color: #B66F30;
    text-decoration: none;
    color: #f2f2f2;
    border-radius: 15px;
    width: 35%;
    height: 35px;
    text-align: center;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: .9rem;
}

.toast-container .error {
    position: absolute;
    top: 2%;
    color: #f2f2f2;
    background-color: #ff4545;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    z-index: 1000;
}

.toast-container .success {
    position: absolute;
    top: 2%;
    color: #f2f2f2;
    background-color: #4caf50;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    z-index: 1000;
}

@media only screen and (max-width: 1024px) and (min-width: 601px){
    body {
        margin: 0;
        padding: 0;
    }
    .container{
        padding: 0 2.5%;
    }
    .left-column{
        justify-content: center;
        width: 50%;
    }
    .left-column form{
        width: auto;
    }
    .left-column h1{
        font-size: 2rem;
    }
    .left-column h3{
        font-size: 1rem;
    }
    .left-column label{
        font-size: 1rem;
    }
    .left-column form input{
        height: 35px;
        padding: 15px 15px;
        font-size: small;
    }
    .left-column form a{
        padding: 4%;
        font-size: .8rem;
    }
    button{
        margin-top: 4%;
        font-size: .8rem;
        width: 80%;
    }
    .right-column{
        width: 40%;
    }
    .right-column h2{
        margin: 0;
        margin-top: 10%;
    }
    .right-column h3{
        margin: 1% 0;
        color: rgb(49, 47, 47);
    }
    .right-column a{
        height: 30px;
        font-size: .8rem;
        opacity: .9;
    }
    .toast-container .error,
    .toast-container .success{
        height: 40px;
        top: 5%;
    }
}

@media only screen and (max-width: 600px){
    body {
        
        
        margin: 0;
        padding: 0;
    }
    .container{
        padding: 0 2.5%;
    }
    .left-column{
        justify-content: center;
        width: 55%;
    }
    .left-column form{
        width: auto;
    }
    .left-column h1{
        font-size: 2rem;
    }
    .left-column h3{
        font-size: 1rem;
    }
    .left-column label{
        font-size: 1rem;
    }
    .left-column form input{
        height: 35px;
        padding: 10px 10px;
        font-size: medium;
    }
    .left-column form a{
        padding: 2%;
        font-size: .7rem;
    }
    button{
        margin-top: 3%;
        font-size: .7rem;
        height: 30px;
        width: 80%;
    }
    .right-column{
        width: 45%;
    }
    .right-column h2{
        margin: 0;
        margin-top: 10%;
    }
    .right-column h3{
        margin: 1% 0;
        color: rgb(49, 47, 47);
    }
    .right-column a{
        height: 25px;
        font-size: .7rem;
        opacity: .9;
    }
    .toast-container .error,
    .toast-container .success{
        height: 40px;
        top: 5%;
    }
}