* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #DAD6CD;
  }

img{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: auto;
    height: 100%;
    z-index: -1;
}
  
.container {
    display: block;
    margin-left: 4%;
    width: 70%;
    height: auto;
    text-align: center;
}

h2{
    color: #000;
    font-weight: bold;
    font-size: 50px;
    padding: 3.5%;
   }

label{
    color: #000;
    font-size: 15px;
    font-weight: lighter;
}

input[type=text]{
    width:55%;
    height: 35px;
    border: none;
    background-color: #fff;
    opacity: 0.5;    
}

input[type=email]{
    width:55%;
    height: 35px;
    border: none;
    background-color: #fff;
    opacity: 0.5;}

input[type=password]{
    width: 55%;
    height: 35px;
    border: none;
    background-color: #fff;
    opacity: 0.5;
    color: #000;
}

button{
    margin: 2%;
    background-color: #B66F30;
    color: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
    width: 30%;
    height: 35px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    justify-content: center;
    border: none;
    box-shadow: 0 3px 5px rgba(0.5, 0.2, 0.2, 0.5);
}

button:hover{
    background-color: #a04b00;
    color: #000;
}
h3 {
    display: inline;
    color: #000;
    font-weight: lighter;
    font-size: 12px;
    font-style: italic;
}
a {
  display: inline;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
}