/* Reset and global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
}

/* Body styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #DAD6CD;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Background image */
img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    z-index: -1;
}

/* Container styles */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}   

/* Form control styles */
.form-control {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center;
}

.form-control h2 {
    color: #000000;
    font-weight: bold;
    font-size: 3.3rem;
    padding: 3.5%;
}

.form-control h3 {
    color: #000;
    font-weight: bold;
    font-size: .9rem;
    font-style: italic;
    text-align: center;
    margin-top: 15px;
}

.form-control h3 a {
    color: #B66F30 ;/* Change to the color you want for the link */
    text-decoration: none; /* Optional: removes underline */
}

.form-control h3 a:hover {
    color:#a04b00; /* Change to the color you want when the link is hovered over */
    text-decoration: underline; /* Optional: adds underline on hover */
}

.form-control form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* Label and input styles */
.form-control label {
    color: grey;
    font-size: 15px;
    font-weight: lighter;
    margin: 2%;
}

.form-control input {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #DAD6CD;
    opacity: 0.9;
    padding: 15px 0;
    border-bottom: 2px solid silver;
    font-size: 1rem;
}

.input-data {
    position: relative;
    margin-bottom: 6vh;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    margin-bottom: 10px;
    color: #B66F30;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
}

.input-data .underline:before {
    content: "";
    height: 100%;
    width: 100%;
    background: #B66F30;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
    transform: scaleX(1);
}

/* Button styles */
button {
    margin: 5% 0;
    background-color: #B66F30;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0.5, 0.2, 0.2, 0.5);
    transition: background 0.3s ease;
    margin-top: 1vh;
}

button:hover {
    background-color: #a04b00;
    color: #fff;
}

/* Toast notification styles */
.toast-container {
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    z-index: 1000;
}

.error-toast {
    background-color: #ff4545;
    color: #f2f2f2;
}

.success-toast {
    background-color: #4caf50;
    color: #f2f2f2;
}

@media only screen and (max-width: 1024px) and (min-width: 601px){
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        align-items: center;
    }
    .form-control{
        width: 90%;
    }
    .form-control h2{
        font-size: 1.7rem;
        padding: 2%;
        margin-bottom: 2.5%;
    }
    .form-control h3{
        font-size: .9rem;
        color: #f2f2f2;
        margin-top: 10px;
    }
    .form-control label{
        font-size: .9rem;
    }
    .form-control input{
        font-size: .9rem;
    }
    button{
        margin: 4% 0;
        font-size: .9rem;
        height: 35px;
    }
    .toast-container{
        height: 45px;
        top: 15%;
    }
}

@media only screen and (max-width: 600px){
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        align-items: center;
    }
    .form-control{
        width: 90%;
    }
    .form-control h2{
        font-size: 1.5rem;
        padding: 1.5%;
        margin-bottom: 2.5%;
    }
    .form-control h3{
        font-size: .7rem;
        color: #f2f2f2;
        margin-top: 10px;
    }
    .form-control label{
        font-size: .8rem;
    }
    .form-control input{
        font-size: .8rem;
    }
    button{
        margin: 2% 0;
        font-size: .8rem;
        height: 30px;
    }
    .toast-container{
        height: 40px;
        top: 15%;
    }
    /* fix the media query for the labels and such its too big */
}

